RewriteEngine on

# Rewrite media request
# Sub-Pages
RewriteRule ^(.*)/(\d{4})-(\d{2})-(\d{2})/(.*)\.(jpg|png|jpeg|gif)$ /config/$1/media/$2/$3/$5 [L]

# Main Site
RewriteRule ^(\d{4})-(\d{2})-(\d{2})/(.*)\.(jpg|png|jpeg|gif)$ /media/$1/$2/$4 [L] 

# Rewrite default
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ bootstrap.php [QSA,L]

